.dot {
    height: 1rem;
    width:  1rem;
    background-color: #e21919;
    border-radius: 50%;
    display: inline-block;
    margin-right: 1rem;
  }

  .custom-b{
      font-size: medium;
      font-weight: 600;
  }

  .label-title-datcli{
    margin-bottom: 0.1rem;
    font-size: small; 
    color: #8385b4; 
  }

  .label-datcli{
    margin-bottom: 0.1rem;
    font-size: small; 
    color: black; 
    font-weight: 450;
  }

  .td-fixed{
    width: 7rem;
  }

  .td-seg{
    width: 5rem;
  }

  .td-tip{
    width: 8rem;
  }

  .td-naci{
    width: 9.5rem;
  }

  .boton-fixed1{
      color: #27246D;
      border-color: #27246D;
      border-radius: 0%;
  }
  .boton-fixed2{
      background-color: #27276D;      
      border-radius: 0%;
  }

  .fixed-bar{
    padding: 1rem 2rem 3rem 3rem;
    background-color: #F4F8F8;
    margin-top: 2rem;
    width: 100%;
  }

  .sticky{
    position: sticky;
    top: 0;
    overflow: hidden;
    z-index: 10;
    width: 100%;
    padding: 0.5rem 2rem 1rem 3rem;
  }


  