.dot {
    height: 1%;
    width:  1%;
    background-color: #e21919;
    border-radius: 50%;
    display: inline-block;
    margin-right: 1%;
  }

  .custom-b{
      font-size: medium;
      font-weight: 600;
  }

  .label-title-datcli{
    margin-bottom: 0.1%;
    font-size: small; 
    color: #8385b4; 
  }

  .label-datcli{
    margin-bottom: 0.1%;
    font-size: small; 
    color: black; 
    font-weight: 450;
  }

  .td-fixed{
    width: 7%;
  }

  .td-seg{
    width: 5%;
  }

  .td-tip{
    width: 8%;
  }

  .td-naci{
    width: 9.5%;
  }

  .boton-fixed1{
      color: #27246D;
      border-color: #27246D;
      border-radius: 0%;
  }
  .boton-fixed2{
      background-color: #27276D;      
      border-radius: 0%;
  }

  .fixed-bar{
    padding: 1% 2% 3% 3%;
    background-color: #F4F8F8;
    margin-top: 2%;
    width: 100%;
  }

  .sticky{
    position: sticky;
    top: 0;
    overflow: hidden;
    z-index: 10;
    width: 100%;
    padding: 0.5% 2% 1% 3%;
  }


  